@import './color';

@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

.codex-editor {
    margin-left: 0.5em;
}

.ce-block {
    font-family: "Mulish", sans-serif;
}



body {
    background-color: var(--bg-color);
    margin: 0;
}

footer {
    position: absolute;
    background-color: red;
    bottom: 0;
    width: 100%;
    height: 70px;
}